<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">

    <h2 class="mt-5 mb-5 ">Контакты</h2>
    <div class="row">
        <div class="mb-5 form-row text-center">
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2475.9884297546737!2d39.086062551311635!3d51.64173697955762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2c74a246d9b1%3A0x8c7588e2d7a2646!2z0YPQuy4g0KbQstC10YLQvtGH0L3QsNGPLCDQktC-0YDQvtC90LXQtiwg0JLQvtGA0L7QvdC10LbRgdC60LDRjyDQvtCx0LsuLCAzOTQwOTE!5e0!3m2!1sru!2sru!4v1654193676387!5m2!1sru!2sru"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-6 px-0">
        <ul class="list-inline">
            <li class="list-inline-item text-black">
                <mark>Адрес:</mark>
            </li>
            <li class="list-inline-item text-muted">Ул.Цветочная, 5</li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item text-black">
                <mark>Время работы:</mark>
            </li>
            <li class="list-inline-item text-muted">10:00 - 19:00 без выходных</li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item text-black">
                <mark>Контактный телефон:</mark>
            </li>
            <li class="list-inline-item text-muted">+7 (333) 33-33</li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item text-black">
                <mark>E-mail:</mark>
            </li>
            <li class="list-inline-item text-muted">floryvrn@gmail.com</li>
        </ul>
    </div>
</div>
</body>
</html>